header {
    nav }
      ul {
        li {
          color: greenyellow;
          &:hover {
              color: rgb(255, 136, 0);

            } 
        }
    }
}
    h2{
        color: blue
        ;
    } 